<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">大机电</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item active">
                <a class="nav-link" href="#">主页 <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <!-- 定义了切换登录的路由链接 -->
        <a class="btn btn-outline-success" [routerLink]="['/login']">登录</a>
    </div>
</nav>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

  </div>
  
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">大作业</h1>
    <p class="lead">主要实现内容</p>
  </div>
  
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">登入界面</h4>
        </div>
        <div class="card-body">
            <li style="color:white;">111  </li>
            <li style="color:white;">111  </li>
            <li style="color:white;">111  </li>
          <h1 class="card-title pricing-card-title">前后端分离登入 <small class="text-muted"></small></h1>
          <ul class="list-unstyled mt-3 mb-4">

            <li style="color:white;">111  </li>


          </ul>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">路由</h4>
        </div>
        <div class="card-body">
            <li style="color:white;">111  </li>
            <li style="color:white;">111  </li>
            <li style="color:white;">111  </li>
          <h1 class="card-title pricing-card-title">路由导航＆路由守卫<small class="text-muted"></small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li style="color:white;">111  </li>
        
          </ul>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">产品管理/用户管理</h4>
        </div>
        <div class="card-body">
            <li style="color:white;">111  </li>
            <li style="color:white;">111  </li>
            <li style="color:white;">111  </li>

          <h1 class="card-title pricing-card-title">包含增删改查等界面功能 <small class="text-muted"></small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            
          </ul>
        </div>
      </div>
    </div>
  
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
     

        </div>
       
       
      </div>
    </footer>
  </div>
  